/****** FOOTER ***********/
#footer{
    background-color: var(--main-bg-color);
}

#footer nav{
    display: flex;
    justify-content: space-between;
}

#footer li{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;  
}

.ul-list{
    padding-left: 0;
    list-style-type: none;
}

.footer-infos h4{
    margin-bottom: 15px;
}

.footer-infos{
    width: 34%;
    padding: 20px;
}

.footer-infos a:hover{
    color: var(--main-color);
}